@model FinalProject.Models.CT_NGANH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/LayoutPDT.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CT_NGANH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONHOC.TenMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONHOC.TenMonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGANH.MaKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGANH.MaKhoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
