@model FinalProject.Models.SINHVIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PDT/Views/Shared/LayoutPDT.cshtml";
}

<h3>Bạn có muốn xóa sinh viên này không?</h3>
<div>
    <table class="table table-bordered" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <th>Mã sinh viên</th>
                <td>@Html.DisplayFor(model => model.MaSinhVien)</td>
            </tr>

            <tr>
                <th>Họ tên</th>
                <td>@Html.DisplayFor(model => model.HoTen)</td>
            </tr>

            <tr>
                <th>Giới tính</th>
                <td>@Html.DisplayFor(model => model.GioiTinh)</td>
            </tr>

            <tr>
                <th>Ngày sinh</th>
                <td>@Html.DisplayFor(model => model.NgaySinh)</td>
            </tr>

            <tr>
                <th>Loại đối tượng</th>
                <td>@Html.DisplayFor(model => model.DOITUONG.TenDoiTuong)</td>
            </tr>

            <tr>
                <th>Quê quán</th>
                <td>@Html.DisplayFor(model => model.HUYEN.TenHuyen) - @Html.DisplayFor(model => model.HUYEN.TINH.TenTinh)</td>
            </tr>

            <tr>
                <th>Ngành</th>
                <td>@Html.DisplayFor(model => model.NGANH.TenNganh)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <br />
            <br />
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>