@model FinalProject.Models.NGUOIDUNG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NGUOIDUNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHOMNGUOIDUNG.TenNhomNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHOMNGUOIDUNG.TenNhomNguoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenDangNhap }) |
    @Html.ActionLink("Back to List", "Index")
</p>
